<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Whatsapp Web</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="image/favicon.png" type="image/png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500"
		media="all">
	<link href="css/bootstrap3.min.css" rel="stylesheet">
	<link href="css/icomoon.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/queries.css" rel="stylesheet">
	<link href="css/misestilos.css" rel="stylesheet">
</head>

<body>
	<!-- Navbar con Bootstrap -->
	<nav class="navbar navbar navbar-lighttext-white pb-0" style="background-color: #009688;" >
		<div class="container-fluid pb-0">
      <div class="col-xs-5">
        <h4 class="fw-bolder mt-4" style="color: white;">Dojo Chat Session - <%=user.name%></h4>
      </div>
			<div class="col-xs-6" id="session">
				<a href="/logout" type="button" id="btnCerrar" class="btn">Cerrar sesión</i></a>
			</div>
		</div>
	</nav>

	<div class="w-app">
		<div class="container">
			<aside class="col-md-3 w-contacts">
        <header class="w-profile clearfix">
          <div class="avatar col-xs-7">
            <img src="/image/Jenny.jpeg" alt="">
          </div>

          <div class="w-chat-controls col-xs-3">
            <div class="icon-dots-three-vertical"></div>
            <div class="icon-message"></div>
          </div>
        </header>
        <div class="w-search icon-search">
          <input type="text" placeholder="Buscar o empezar un chat nuevo" class="w-search-contacts">
        </div>
        <ul class="w-recent-chats">
          <li>
            <div class="avatar">
              <img src="/image/coding-dojo.png" alt="" class="wh-44">
              <h4 class="w-contact-name">Conding Dojo</h4>
              <p class="w-last-message" id="mensaje">Bienvenidos</p>
            </div>
            <div class="time" id="hora">14:27</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images11.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Pedro Perez</h4>
              <p class="w-last-message">La clase va bien!</p>
            </div>
            <div class="time">11:25</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images14.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Marimar</h4>
              <p class="w-last-message">El panel de speakers esta buanazo</p>
            </div>
            <div class="time">09:25</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images3.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Cleopatra</h4>
              <p class="w-last-message">Pues dale chamo!</p>
            </div>
            <div class="time">Ayer</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images12.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Chino</h4>
              <p class="w-last-message">¿Cómo van las chicas?</p>
            </div>
            <div class="time">Martes</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images4.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Genesis Hurtado</h4>
              <p class="w-last-message">Hoy me toca clases de canto, yee!</p>
            </div>
            <div class="time">Lunes</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images9.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Miriam Hernández</h4>
              <p class="w-last-message">Wuju! esto me encanta!! en verdad!</p>
            </div>
            <div class="time">13/01/2016</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images2.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Kimberly Curso</h4>
              <p class="w-last-message">No te preocupes, tengo el salón bajo control</p>
            </div>
            <div class="time">11/01/2016</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images7.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Mario Moreno</h4>
              <p class="w-last-message">Vao a comer?</p>
            </div>
            <div class="time">03/01/2016</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images8.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Jefe Proyecto</h4>
              <p class="w-last-message">Gian: Ya está lista la unidad 2</p>
            </div>
            <div class="time">03/01/2016</div>
          </li>
          <li>
            <div class="avatar">
              <img src="/image/images5.jpeg" alt="" class="wh-44">
              <h4 class="w-contact-name">Alejandro Sol</h4>
              <p class="w-last-message">Estoy bajando con Aldo, vao a comer?</p>
            </div>
            <div class="time">03/01/2016</div>
          </li>
        </ul>
      </aside>

			<section class="col-md-9 w-contacts w-messages">
				<header class="w-chat-messages clearfix">
					<div class="avatar col-xs-9 w-chat-profile">
						<img src="image/coding-dojo.png" alt="">
						<h4 class="w-contact-name">Coding Dojo</h4>
						<ul class="w-users-messages">
							<li>Usuario 1 </li>
							<li>Usuario 2 </li>
							<li>Usuario 3 </li>
							<li>Usuario 4 </li>
						</ul>
					</div>
					<div class="w-chat-controls col-xs-2">
						<div class="icon-attachment"></div>

						<div class="icon-dots-three-vertical"></div>
					</div>
				</header>
				<section class="w-chat-panel">
					<div class="w-message-list clearfix" id="chat">
						<div class="w-message w-message-in">
							<div class="w-message-text">
								<h5 class="blue-1">Usuario 1</h5>
								<p>Hola que tal?</p>
								<div class="time">11:12</div>
							</div>
						</div>


						<div class="w-message w-message-out">
							<div class="w-message-text">
								<p>Bienvenidos</p>
								<div class="time">11:14</div>
							</div>
						</div>

					</div>
				</section>

				<footer class="pane-footer w-write-message-footer">
					<ul class="w-write-message-list clearfix">

						<li class="col-xs-1 w-write-message-item"><i class="fa fa-smile-o fa-2x smiles" aria-hidden="true"></i></li>
						<li class="col-xs-10 w-write-message-item w-write-message-input">
							<input type="text" name="w-message-input" class="w-write-message-field"
								placeholder="Escribe tu mensaje aquí" id="mensajesEmisor" required>
						</li>
						<li class="col-xs-1 w-write-message-item"><i class="fa fa-paper-plane fa-2x" id="enviarMsg" aria-hidden="true"></i></li>

					</ul>
				</footer>
			</section>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
	<script src="js/moment-with-locales.min.js"></script>



	<script>

		$(document).ready(function(){

      const socket = io('http://localhost:8000');

			moment.locale("es");
			$('#enviarMsg').on('click', function(){

				let emiture = `
						<div class="w-message w-message-out">
							<div class="w-message-text">
								<p>${ $("#mensajesEmisor").val() }</p>
								<div class="time">${ moment().format('HH:mm') }</div>
							</div>
						</div>
          `;
        
				$('#chat').append(emiture);

				//console.log($("#mensajesEmisor").val());
        
        const inf = { 
          nombre: '<%=user.name%>',
          mensaje: $("#mensajesEmisor").val(),
          hora: moment().format('HH:mm')          
        };
        console.log('enviando inf');
        console.log(inf);
        
        socket.emit('enviandoMsn', inf);
        
        $("#mensajesEmisor").val('');
      });

      $('#mensajesEmisor').on("keydown", function(e){
				if(e.keyCode == 13) {

          $('#enviarMsg').trigger('click');

				};
			});



      socket.on('compartiendoMsn', function(inf){
        console.log(inf);
        console.log(inf.nombre);

        let recepture = `
          <div class="w-message w-message-in">
            <div class="w-message-text">
              <h5 class="blue-1">${inf.nombre}</h5>
              <p>${inf.mensaje}</p>
              <div class="time">${inf.hora}</div>
            </div>
          </div>
          `;
        
        $('#chat').append(recepture);

      });



    });


	</script>
</body>

</html>